# Dependencies
node_modules
.pnpm-store

# Next.js
.next/
out/

# Build
dist

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Environment
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts
